body {
font-family: Arial, sans-serif;
background-color: #f2f2f2;
}


.container {
width: 400px;
margin: 100px auto;
background: white;
padding: 20px;
text-align: center;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


input {
padding: 10px;
width: 80%;
margin-bottom: 10px;
}


button {
padding: 10px 20px;
background-color: #007bff;
color: white;
border: none;
cursor: pointer;
border-radius: 5px;
}


button:hover {
background-color: #0056b3;
}